@import url(reset.css);

:root {
    --main-black: black;
    --main-white: #f7f7f7;
    --dark-grey: #939393;
    --light-grey: #c6c6c6;
    --box-blue: #0c6af5;
    --title-size: 25px;
    --small-size: 13px;
    --content-size: 18px;
    --box-border: 5px;
}
/* header */
body {
    width: 100%;
    height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    color: white;
    background: var(--main-black);

    height: 50px;
    align-items: center;
}
.page_header_search,
.page_header,
.page_main,
.main_card,
.main_card_more,
.page_header_form,
.main_dashboard_chart {
    display: flex;
}
.page_header {
    width: 30%;
    justify-content: space-between;
    margin-left: 20px;
    cursor: pointer;
}
.page_title {
    font-size: var(--title-size);
}
.page_header_search {
    width: 70%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 15px;
}
.page_header_input,
.page_header_inputBtn {
    border-radius: var(--box-border);
    border: none;
}

.page_header_input {
    width: 200px;
    padding: 7px;
}
.page_header_inputBtn {
    background: var(--box-blue);
    font-size: inherit;
    color: var(--main-white);
}
.page_header_user {
    margin-left: 40px;
}
.page_header_user i {
    margin-right: 5px;
}

/* nav */
.main_nav {
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 20px;
    display: none;
}
.main_nav.active {
    display: block;
}
.main_nav_box {
    margin-bottom: 50px;
}
.main_nav_contents {
    color: var(--light-grey);
}
.main_nav_title {
    color: var(--dark-grey);
    margin-bottom: 30px;
    font-size: var(--small-size);
}
.main_nav_contentsBox {
    display: flex;
    margin-bottom: 30px;
    cursor: pointer;
}
.main_nav_contentsBox div {
    margin-left: 10px;
}

/* dashBoard */
.main_dashboardBox {
    width: 90%;
    margin-left: 30px;
    margin-top: 40px;
}
.main_dashboard {
    flex-direction: column;
}
.main_dashboard.blue {
    background: blue;
}
.main_dashboard_title {
    font-size: 40px;
}
.main_dashboard_msg {
    color: var(--dark-grey);
    margin-top: 10px;
}
/* card */
.main_card {
    margin-top: 30px;
    justify-content: space-between;
    height: 80px;
}
.main_card_box {
    border-radius: var(--box-border);
    width: 250px;
}
.main_card_box.yellow {
    background: yellow;
}
.main_card_box.green {
    background: green;
}
.main_card_box.red {
    background: red;
}
.main_card_box.blue {
    background: blue;
}

.main_card_more {
    justify-content: space-between;
}
.main_card_viewMore {
    text-decoration: underline;
}
.main_nav {
    width: 15%;
    background: var(--main-black);
    color: var(--light-grey);
}

/* chart */
.main_dashboard_chart {
    margin-top: 60px;
    justify-content: space-between;
}
.main_dashboard_chartBox,
.main_dashboard_table {
    margin-top: 50px;
    border: 1px solid var(--light-grey);
    border-radius: var(--box-border);
    padding: 20px;
}

.main_dashboard_chartBoxTitle {
    display: flex;
}

.main_dashboard_chartBoxTitle div {
    margin-left: 10px;
}
.main_dashboard_table {
    margin-top: 50px;
    margin-bottom: 70px;
}

.main_dashboard_table_title {
    display: flex;
    margin-bottom: 30px;
}

.main_dashboard_table_title div {
    margin-left: 10px;
}
.main_dashboard_table_selector {
    display: flex;
    justify-content: space-between;
}
.main_dashboard_table_selector select {
    width: 50px;
    height: 25px;
}
.main_dashboard_table_selector input {
    width: 250px;
    height: 25px;
}
table {
    width: 100%;
    border: 1px solid;
    border-color: var(--light-grey);
    border-collapse: collapse;
    margin-top: 30px;
    font-size: var(--content-size);
}
tr th {
    border-bottom: 2px solid;
    padding: 10px;
}
th,
td {
    border: 1px solid;
    border-color: var(--light-grey);
    padding: 5px;
}
